.repositories{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 530px;
}
.repoContainer{
    height: 70%;
    width: 300px;
}

.repository{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 65px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 20px;
    padding-left: 5px;
    font-size: 11px;
    text-align: center;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    color: #20B2AA;
}
.repository:hover{
    background-color: #171515;
    color: white;
}
.repo_name{
    margin-bottom: 5px;
    font-weight: 700;
}
.paging{
    display: flex;
    width: 265px;
    height: 10%;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
    color: black;
    justify-content: space-between;
}
.paging li {
    list-style-type: none;
    font-size: 18px;
    font-weight: 700;
}
.paging li:hover, .paging li a:hover{
    text-decoration: none;
    color: #fff;
    background: #20B2AA;
    cursor: pointer;
    font-size: 18px;
}
.numb{
    padding: 10px;
    border-radius: 25%;
}
.previous, .next{
    padding: 5px;
    border-radius: 25%;
}
.paging__link--active{
    color: #fff;
    background: #20B2AA;
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }
 .portfolioContainer .loading{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
    width: 300px;
    height: 530px;
}
.repositories .loading{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.eachRepo{
    width: 300px;
    height: 530px;
    display: flex;
    flex-flow: column wrap;
    /* align-items: center;
    justify-content: center; */
    background-color: #171515;
    color: #fff;
    border-radius: 10px;
    box-shadow: 2px 5px 10px gold, -2px -5px 10px gold;
}
.Repo_head{
    width: 100%;
    height: 10%;
    display: flex;
    flex-flow: column wrap;
}
.eachRepo_Branch{
    align-self: flex-start;
}
.eachRepo_Visibility{
    align-self: flex-end;
}
.eachRepo_Branch, .eachRepo_Visibility{
    border: 2px solid grey;
    border-radius: 20px;
    padding: 0 5px;
    background-color: grey;
    margin: 0px;
    color: black;
    font-weight: 700;
    box-shadow: 2px 3px 3px white;
}
.eachRepo_Branch:hover, .eachRepo_Visibility:hover{
    background-color: #20B2AA;
    color: #fff;
}
.eachRepo_name{
    font-size: small;
    font-weight: 900;
    align-self: center;
    margin: 10px 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.Repo_body{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 60%;
    box-shadow: 2px 3px 3px white, -2px -3px 5px white;
}
.body1{
    width: 59%;
    border-right: 2px solid grey;
}
.body2{
    width: 40%;
}
.body1, .body2, .eachRepo_Desc, .eachRepo_Language{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.eachRepo_Desc, .eachRepo_Language{
    height: 40%;
    width: 100%;
    text-align: center;
    box-shadow: 2px 5px 10px gold, -0px -0px 2px gold;
}
.group{
    height: 22%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 5px 10px gold;
    border-radius: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.group:nth-of-type(1){
    box-shadow: -2px -5px 10px gold;
}
.Repo_end{
    height: 20%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
.Repo_lastUp{
    margin: 10px 5px;
}
.Repo_link{
    margin-top: 10px;
}
.Repo_link a{
    width: 100%;
    background-color: grey;
    border-radius: 20px;
    padding: 10px;
    margin-top: 5px;
    color: black;
    box-shadow: 2px 3px 3px white
}
.Repo_link a:hover{
    text-decoration: underline;
    background-color: #20B2AA;
    color: #fff;
    font-weight: 700;
}